<p>
    {{ __('Mail', "This is the message you have to send to the people you want to poll. \nNow, you have to send this message to everyone you want to poll.") }}
    <br/>
    <br/>
    {{ poll.adminName }} {{ __('Mail', 'hast just created a poll called')}} : {{ poll.title }}<br/>

    {{ __('Mail', 'Thanks for filling the poll at the link above') }}:
    <br/><br/>
    <a href="{{ url('view_poll', {'poll_id': poll.id}) }}">{{ url('view_poll', {'poll_id': poll.id}) }}</a>

    {% if admin %}
        {{ __('Mail', "This message should NOT be sent to the polled people. It is private for the poll's creator.\n\nYou can now modify it at the link above") }}
        <a href="{{ url('view_admin_poll', {'admin_poll_id': poll.Adminid}) }}">{{ url('view_admin_poll', {'admin_poll_id': poll.Adminid}) }}</a>
    {% endif %}
</p>
