
{% block header %}
<header role="banner" class="clearfix">
{% if langs | length > 1 %}
    <form method="post" action="" class="hidden-print">
        <div class="input-group input-group-sm pull-right col-xs-12 col-sm-2">
            <select name="lang" class="form-control" title="{{__('Language selector', 'Select the language')}}" >
            {% for lang_key, lang_value in langs %}
                <option lang="{{ lang_key[:2] }}" {% if lang_key[:2] == locale %}selected{% endif %} value="{{lang_key|raw}}">{{ lang_value|raw }}</option>
            {% endfor %}
            </select>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-sm" title="{{__('Language selector', 'Change the language')}}">OK</button>
            </span>
        </div>
    </form>
{% endif %}

    <h1 class="row col-xs-12 col-sm-10">
        <a href="{{ SERVER_URL|raw}}" title="{{__('Generic', 'Home')}} - {{ APPLICATION_NAME|raw}}" >
            <img src="/{{TITLE_IMAGE}}" alt="{{ APPLICATION_NAME|raw}}" class="img-responsive"/>
        </a>
    </h1>
    {% if title is not empty %}<h2 class="lead col-xs-12"><i>{{ title|raw }}</i></h2>{% endif %}
    <div class="trait col-xs-12" role="presentation"></div>
</header>
{% endblock %}
